<style>
    .navbar-brand {
        padding-left: 40px;
    }

    body {
        background-image: linear-gradient(to right, white, blue);
    }

    #quote {

        border-color: black;
        border-width: thick;
        margin-top: 25px;
    }

    #quoteText {
        border-color: black;
    }

    .card {
        width: 400px;
        height: 400px;
        border-color: black;
    }

    #innernav {
        color: black;
        font-size: 40px;
    }

    footer {
        background-color: white;
        font-size: 12px;
        height: 50px;
        width: 100%;
        margin-top: 25px;
    }

    #scraped-items{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
</style>

<nav class="navbar-light bg-light">
    <a class="navbar-brand" href="#" id="innernav" style="font-family: 'Fjalla One', sans-serif;">
        Shop Cheap Centrifuges
    </a>
</nav>
<div class="col-md-12">
    <div class="row mx-5 d-flex justify-content-center" id="upperContent">
        <div class="col-md-4" id="quote">
            <h1 id="quoteText">"Explore top deals. Kisckstart your lab."</h1>
        </div>
        {{!-- <div class = "col-md-4" id = "quote">
            <img id = "image" src = "assets/images/cenF.jpg" >
        </div> --}}
    </div>
</div>

{{!-- <div class="col-md-12">
    <div class="row mx-5 mt-5 d-flex justify-content-center">
        <div class="card">
            <img class="card-img-top" src="assets/images/besLogo.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card mx-5">
            <img class="card-img-top" src="assets/images/biosurplus.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card ">
            <img class="card-img-top" src="assets/images/marshallS.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>


<div class="col-md-12">
    <div class="row mx-5 mt-5 d-flex justify-content-center">
        <div class="card">
            <img class="card-img-top" src="assets/images/besLogo.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card mx-5">
            <img class="card-img-top" src="assets/images/biosurplus.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card ">
            <img class="card-img-top" src="assets/images/biosurplus.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="{}">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div> --}}

<div id="scraped-items">
{{#each equipment}}
<div class="card ml-3 mt-5">
    <img class="card-img-top" src="assets/images/biosurplus.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">{{price}}</p>
        <a href={{link}} target = "_blank" class="btn btn-primary">Check it out!</a>
    </div>
</div>
{{/each}}
</div>
<footer class="d-flex justify-content-center">
    <h1>628-223-3239</h1>
</footer>

{{!-- <div class = "mainDiv "></div> --}}