<style>
    .navbar-brand {
        padding-left: 40px;
    }

    body {
        background-image: linear-gradient(to right, white, blue);
    }

    #quote {

        border-color: black;
        border-width: thick;
        margin-top: 25px;
    }

    #quoteText {
        border-color: black;
    }

    .card {
        width: 400px;
        height: 300px;
        border-color: black;
    }

    #innernav {
        color: black;
        font-size: 40px;
    }
</style>

<nav class="navbar-light bg-light">
    <a class="navbar-brand" href="#" id="innernav" style="font-family: 'Fjalla One', sans-serif;">
        Shop Cheap Centrifuges
    </a>
</nav>
<div class="col-md-12">
    <div class="row mx-5 d-flex justify-content-center" id="upperContent">
        <div class="col-md-4" id="quote">
            <h1 id="quoteText">"Explore top deals. Kisckstart your lab."</h1>
        </div>
        {{!-- <div class = "col-md-4" id = "quote">
            <img id = "image" src = "assets/images/cenF.jpg" >
        </div> --}}
    </div>
</div>

<div class="col-md-12">
    <div class="row mx-5 mt-5 d-flex justify-content-center">
        <div class="card">
            <img class="card-img-top" src="assets/images/besLogo.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
        <div class="card mx-5">
            <img class="card-img-top" src="assets/images/biosurplus.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
        <div class="card ">
            <img class="card-img-top" src="assets/images/marshallS.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </div>
</div>

{{!-- <div class = "mainDiv "></div> --}}